body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("./images/pexels-photo-20880765.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    max-width: 400px;
    margin: 10px 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 15px;
    float: left;
    height: 100vh;
}

input[type="text"] {
    width: calc(100% - 100px);
    float: left;
    padding: 10px;
    margin: 15px 0;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100px;
    float: left;
    background-color: #3f311e;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;

}
.inputGroup {
    overflow: hidden;
    /* display: inline-block; 
    margin-left: 10px; */
}

#recents {
    padding-top: 5px;
}

.header {
    margin: 10px;
    padding: 20px;
    font-style: italic;
}

.weather-info {
    margin-top: 10px;
}

.forecast {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    border-radius: 15px;
    width: calc(100% - 400px);
    float: right;
}

.dailyforecast{
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    width: 12%;
}